:root {
  --primeri-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --dark-color: #000000;
}

body {
  font-family: roboto;
  background: var(--white-color);
  color: var(--dark-color);
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 20px;
  padding-left: 20px;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
/* Шапка */

.logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  color: var(--dark-color);
}
.logo-web {
  color: var(--accent-color);
}
/* Навигация */

.site-nav .link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .active {
  color: var(--accent-color);
}
.adress .link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--primeri-text-color);
}
.adress .link:focus,
.adress .link:hover {
  color: var(--accent-color);
}

/* Герой */

.hero {
  background-color: #2f303a;
}
.hero-title {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  color: var(--white-color);
}

/* button */
.button {
  color: var(--white-color);
  background-color: var(--accent-color);
}

/* Особенности */

.feature-heading {
  display: none;
}
.feature .head {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}
.feature .text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--primeri-text-color);
}

/* Чем мы занимаемся */

.images-title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

/* Наша команда */

.team {
  background-color: var(--white-color);
}
.team-title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.team .head {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.team .text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primeri-text-color);
}
/* .time-list-one {
  position: absolute;
  width: 270px;
  height: 368px;
  left: 215px;
  top: 1635px;
}
.time-list-two {
  position: absolute;
  width: 270px;
  height: 368px;
  left: 515px;
  top: 1635px;
}
.time-list-three {
  position: absolute;
  width: 270px;
  height: 368px;
  left: 815px;
  top: 1635px;
}
.time-list-four {
  position: absolute;
  width: 270px;
  height: 368px;
  left: 1115px;
  top: 1635px;
} */

/* Подвал */

.foot {
  background-color: #2f303a;
}
.foot-adress {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--white-color);
}
.foot .link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.foot .link:hover,
.foot .link:focus {
  color: var(--accent-color);
}
